<%-include('header')%> 
    <form action="/" method="post" class="landingejs">
        <h2>Please Enter Username to <br> continue</h2>
        <input type="text" name="username" id="usrnm" placeholder="@Something" autocomplete="off" required><br>
        <button type="submit" id="submt">Login/Signup</button>
    </form>
<%-include('footer')%>